@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@400;500;600;700;800&display=swap');

/* GENERAL STYLING */

:root {
  --themeBgColor: rgb(244, 244, 244);
  --themeFgColor: #121212;
}

*{
  box-sizing: border-box;
  color: var(--themeFgColor);
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--themeBgColor);
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: 300ms;
}

a {
  text-decoration: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.font {
  font-family: 'Poppins', sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}


body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

/* useless */
.useless {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 200px;
  height: 200px;
  pointer-events: none;
}

/* NAVBAR OVERALL */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 10vh;
  padding: 3% 10% 1% 10%;
  z-index: 2;
  justify-content: space-between;
  transition: 200ms;
}

.navbar.fill {
  background-color: rgba(255, 255, 255, .45);
  padding: 1% 10% 1% 10%;
  transition: 200ms;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

/* STYLING LOGO */

.logo-txt, .logo-txt-secondary {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

.logo-txt-secondary {
  display: none;
}

/* STYLING LINKS */

.links {
  font-size: 1rem;
  gap: 1rem;
}

.link:hover > *{
  color: #007FFF;
}

.link:hover::before {
  transition: 500ms;
  opacity: 1;
}

.link::before {
  transition: 200ms;
  opacity: 0;
  font-size: 20px;
  content: '🦠';
}

/* DARK/LIGHT MODE STYLING  */

.darkM, .lightM {
  transition: 200ms;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.darkM:hover, .lightM:hover {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.lightM {
  display: none;
}

.darkM.dark-enabled {
  display: none;
}
.lightM.dark-enabled {
  display: block;
}

/* HAMBURGER ON WIDTH > 1200 */
.hamburger {
  display: none;
  font-size: 40px;
}
.menu-close-ham {
  display: none;
}

/* NO-FILL NAVBAR */

.navbar.no-fill .logo > *, .navbar.no-fill > *, .navbar.no-fill > * > * {
  color: var(--themeFgColor);
}


/* DARK MODE ENABLED */

.navbar.no-fill.dark-enabled > * > * > * ,.navbar.no-fill.dark-enabled > * > * {
  color: var(--themeBgColor);
}

.hamburger.dark-enabled,
 .navbar.fill .logo.dark-enabled .logo-txt,
 .navbar.fill .logo.dark-enabled .logo-img,
 .navbar.fill .logo.dark-enabled .logo-txt-secondary {
  color: var(--themeBgColor);
}
.navbar.dark-enabled.fill {
  color: var(--themeBgColor);
  background-color: rgba(18, 18, 18, 0.45);
  /* var(--themeFgColor) = rgb(18, 18, 18) */
}
.navbar.fill .links.dark-enabled .link{
  color: var(--themeBgColor);
}
.navbar.fill .darkM.dark-enabled, .lightM.dark-enabled {
  color: var(--themeBgColor);
}

/* CONTENT STYLING */

.content {
  height: 100vh;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10%;
  padding: 10% 10%;
  transition: 500ms;
  background: rgb(0,127,255);
  background: linear-gradient(90deg, rgba(0,127,255,0.8018557764902836) 0%, rgba(2,0,36,0.7346288857339811) 100%);
}

.content .heroImg {
  max-width: 40%;
  min-width: 300px;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}

.content .statement > h1 {
  font-size: clamp(35px, 2.6vw, 60px);
}

.content .statement p {
  font-size: clamp(20px, 1vw, 30px);
  line-height: 0.3;
}

.content > * > * {
  color: var(--themeFgColor);
}

.content.dark-enabled {
  background-color: var(--themeFgColor);
}

.content.dark-enabled > * > *{
  color: var(--themeBgColor);
}

/* STATS PORTIONS */

.stats {
  flex-direction: column;
  margin-top: 5vh;
}

.stats-heading {
  text-align: center;
}

.graphs {
  width: 100%;
  justify-content: space-evenly;
}

.graph {
  width: clamp(150px, 15%, 15vw);
  flex-direction: column;
  gap: 2vh;
}


.graph-label {
  text-align: center;
}

.meter {
  position: absolute;
  transform: translateY(-50%);
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

.stats.dark-enabled > *, .stats.dark-enabled > * > * > * {
  color: var(--themeBgColor);
}

.graphs.animate {
  animation: slide 1500ms ease;
}

.overall-section {
  margin-top: 15vh;
}

/* GOOGLE MAPS SECTION */

.vacc-centers {
  background-color: antiquewhite;
  flex-direction: row;
  padding: 5% 10%;
  gap: 10%;
}

.vacc-centers h1 {
  font-size: 3vw;
}

.gmap {
  border: 2px dashed var(--themeFgColor);
  padding: 10px;
  width: clamp(300px, 40vw, 1000px);
  height: clamp(300px, 70vh, 800px);
  border-radius: 20px;
  transition: 500ms;
}

.gmap:hover {
  transform: scale(1.01);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: 500ms;
}

.vacc-centers.dark-enabled {
  background-color: #191919;
}

.vacc-centers.dark-enabled  .gmap{
  border: 2px dashed var(--themeBgColor);
}

.vacc-centers.dark-enabled  .gmap:hover {
  box-shadow: rgba(220, 200, 220, 0.25) 0px 50px 100px -20px, rgba(180, 180, 180, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.vacc-centers.dark-enabled > * > * {
  color: var(--themeBgColor);
}

/* FOOTER  */

.footer {
  height: 30vh;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  font-size: smaller;
  gap: 5%;
}

.footer button {
  padding: 10px 15px;
  border-radius: 7px;
  border: none;
  background-color: #007FFF;
  color: var(--themeBgColor);
  cursor: pointer;
  transition: 500ms;
}

.footer button:hover {
  background-color: #01468b;
  transition: 200ms;
}

.footer.dark-enabled > * {
  color: var(--themeBgColor);
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* SIGNUP PAGE */
.signup {
  width: 100%;
  height: 90vh;
  padding-top: 15vh;
}

.card {
  height: 70vh;
  width: clamp(350px, 30vw, 500px);
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid gainsboro;
  border-radius: 7px;
  justify-content: space-between;
  padding: 3%;
  box-shadow: 0px 0px 26px -3px rgba(0,0,0,0.1);
}

.card header {
  font-size: 25px;
  font-weight: 600;
}

.form {
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 3%;
}

.form input {
  width: 100%;
  padding: 10px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  font-size: 15px;
  background: transparent;
}

.input-set {
  width: 90%;
}

.error {
  font-size: 10px;
  color: red;
  border: none;
}

.submit-btn {
  padding: 7px 20px;
  border-radius: 20px;
  width: 50%;
  border: none;
  font-weight: 600;
  font-size: 15px;
  color: var(--themeBgColor);
  background: rgb(0,127,255);
  background: linear-gradient(90deg, rgba(0,127,255,0.8018557764902836) 0%, rgba(2,0,36,0.5) 100%);
  opacity: 0.9;
  transition: 500ms;
}

.submit-btn:hover {
  background: rgb(0,127,255);
  background: linear-gradient(90deg, rgba(0,127,255,0.9018557764902836) 0%, rgba(2,0,36,0.7) 100%);
  opacity: 1;
  transition: 500ms;
  cursor: pointer;
}

.login-link {
  color: #007FFF;
}

.card footer {
  font-size: 14px;
}

.login.card {
  height: 65vh;
}

.login.card .form {
  gap: 6%;
}

.card.dark-enabled {
  color: var(--themeBgColor);
  background-color: rgba(44, 44, 44, 0.45);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: none;
}

.card.dark-enabled > *, .card.dark-enabled > * > * {
  color: var(--themeBgColor);
}

.card.dark-enabled .login-link {
  color: #007FFF;
}

.card.dark-enabled input {
  color: var(--themeBgColor);
}

.card.dark-enabled input:focus {
  outline: none;
  -webkit-box-shadow:0px 0px 7px 0px rgba(45,255,196,1);
  -moz-box-shadow: 0px 0px 7px 0px rgba(45,255,196,1);
  box-shadow: 0px 0px 7px 0px rgba(45,255,196,1);
}

.card.dark-enabled input::placeholder {
  color: rgb(137, 137, 137);
}


/* MEDIA QUERIES */

@media (max-width: 1200px) {
  .navbar {
    padding: 3% 10% 1% 10%;
  }
  .logo-txt {
    display: none;
  }
  .logo-txt-secondary {
    display: flex;
  }
  .links.menu-close {
    display: none;
  }
  .links.menu-open {
    flex-direction: column;
    position: absolute;
    inset: 0;
    height: 100vh;
    background-color: white;
    font-size: clamp(50px, 10vw,10vw);
    justify-content: space-evenly;
    padding: 25% 0px 25% 0px;
    animation: slide-in 200ms ease-in;
  }
  .links.menu-open .link {
    font-weight: 500;
  }
  .navbar.fill .links.menu-open a,
  .navbar.no-fill .links.menu-open a{
    color: var(--themeFgColor);
  }
  .navbar.fill .links.menu-open.dark-enabled,
  .navbar.no-fill .links.menu-open.dark-enabled {
    background-color: var(--themeFgColor);
  }
  .navbar.fill .links.menu-open.dark-enabled a,
  .navbar.no-fill .links.menu-open.dark-enabled a{
    color: white;
  }
  .darkM, .lightM {
    transform: translateX(-30%);
  }
  .hamburger {
    display: block;
  }
  .menu-close-ham {
    display: none;
  }
  .menu-open-ham {
    position: absolute;
    z-index: 2;
    right: 50%;
    transform: translateX(50%);
    top: 50%;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    opacity: 0;
    animation: pop-in 200ms ease-in forwards;
    animation-delay: 300ms;
    background-color: white;
  }
  .navbar.fill .menu-open-ham,
  .navbar.no-fill .menu-open-ham {
    color: var(--themeFgColor)
  }

  .menu-open-ham.dark-enabled {
    background-color: var(--themeBgColor);
    color: var(--themeFgColor);
  }

  /* Daily Stats */
  .graphs {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto auto;
  }
  .graph-2 {
    transform: translateX(25vw);
  }
  .graphs.animate {
    animation: none;
  }

  /* Google Maps Sections */

  .vacc-centers {
    flex-direction: column;
    gap: 5vh;
  }
  .vacc-centers > * > * {
    text-align: center;
  }
  .vacc-centers h1 {
    font-size: clamp(20px, 30vw, 40px);
    line-height: 0.8;
  }
  .gmap {
    width: 70%;
  }

  @keyframes slide-in {
    from {
      right: -100%;
    }
    to {
      right: 50%;
      inset: 0;
    }
  }
  @keyframes pop-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@media (max-width: 400px) {
  .navbar {
    padding: 0% 5% 0 5%;
  }
  .darkM, .lightM{
    position: absolute;
    right: 0;
    top: 85vh;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 2;
  }
  .lightM {
    padding: 12.5px;
  }
  .lightM.dark-enabled {
    color: var(--themeFgColor);
  }

  /* Daily Stats */
  .graphs {
    display: flex;
    flex-direction: column;
    gap: 5vh;
  }
  .graph-2 {
    transform: translateX(0px);
  }

  /* Google Maps Section */
  .gmap {
    width: 100%;
  }
}